/.idea/
/IDK.iml
/build.gradle
/build/
/app/proguard-rules.pro
/app/app.iml
/gradle.properties
/app/build/
/app/libs/
/local.properties
/app/sampledata/
/app/build.gradle
/gradle/
/gradlew.bat
/.gradle/
/app/src/main/kotlin/tuev/co/tumine/SockClient.kt
/app/src/main/kotlin/tuev/co/tumine/ParseOutput.kt
/app/src/main/kotlin/tuev/co/tumine/MiningService.kt
/app/src/main/kotlin/tuev/co/tumine/Tools.kt
/gradlew
/settings.gradle
