<manifest package="tuev.co.tumine"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver android:name=".CheckerAndBootService" android:enabled="true"/>

        <service
            android:name=".MineJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".MiningService"/>
    </application>
</manifest>
